@import url(//db.onlinewebfonts.com/c/6e1ef15c406d6f6aca64916d713fae18?family=Flexo-Bold);
@import url(//db.onlinewebfonts.com/c/51ba22ae06790efd464bde752a2cd9d1?family=Flexo);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.background-image{
    background: url("../img//back-list.jpg");
    overflow: hidden;
    background-size: contain;
    background-attachment:fixed;
    height: 100vh;
}

.pokedex-image{
    width: 150px;
    margin: auto;
    display: block;
    margin-top: 15px;
}

.main-flex-scheme{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.pokemon-detail-main{
    border: 1px black solid;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    padding: 20px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    width: 100%;
    margin: 20px 15px 15px 15px;
    height: 80vh;
}

.pokemon-detail-submain{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.pokemon-detail-submain-photo{
    width: 125px;
    height: 125px;
    align-self: center;
}

.pokemon-detail-submain-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.pokedex-name-prefix{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.poke-name-main{
    font-size: 30px;
    font-weight: 500;
    font-family: "Flexo-Bold";
    margin-right: 18px;
}

.poke-prefix-main{
    font-family: "Flexo-Bold";
    color: #919191;
    font-size: 30px;
}

.pokemon-text-maindescription{
    font-family: "Flexo" ;
    text-align: justify;
}

.pokedex-background-sub{
    background-color: #30a7d7;
    border-radius: 10px;
}

.pokemon-detail-flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.poke-info-property{
    font-family: "Flexo";
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 10px;
}

.poke-info-value{
    font-family: "Flexo-Bold";
    font-size: 15px;
}

.poke-description{
    font-size: 15px;
    font-style: italic;
    margin-bottom: 5px;
    text-align: justify;
    font-family: "Flexo";
}

.poke-sub-menu{
    margin: 10px;
}

.poke-sub-menu-info{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.poke-sub-menu-information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.poke-bottons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokemon {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 100px inset, 0 0 5px grey;
    transition: box-shadow 1s;
    float: left;
    margin: 10px;
}
  
.pokemon::after {
    width: 80%;
    height: 80%;
    display: block;
    white-space: pre;
    font: 15pt 'sigmar one';
    color: white;
    border: 2px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s .5s;
}
  
.pokemon:hover {
    box-shadow: 0 0 0 5px inset, 0 0 5px grey, 0 0 10px grey inset;
    transition: box-shadow 1s;
}
  
.pokemon:hover::after {
    opacity: 0;
    transition: opacity .5s;
}
  
#bulbasaur {
    background-image: url("../img/bulbasaur-gif.webp");
    color: rgba(71, 121, 94, .9);
    background-position: center;
    background-repeat: no-repeat;
  }
  
#bulbasaur::after {
    content: 'Editar';
}
  
#charmander {
    background-image: url("../img//charmander-gif.webp");
    color: rgba(221, 86, 63, .9);
    background-position: center;
    background-repeat: no-repeat;
  }
  
#charmander::after {
    content: 'Home'
}
  
#squirtle {
    background-image: url("../img/squirtle-gif.webp");
    background-repeat: no-repeat;
    color: rgba(65, 102, 114, .9);
    background-position: center;
}
  
#squirtle::after {
    content: 'Eliminar'
}
 
#wrapper {
    width: 500px;
    height: 500px;
    margin:  auto;
}

.previous-next{
    display: none;
}

@media (min-width: 1200px){

    .pokedex-image{
        width: 250px;
        height: 13,5vh;
    }

    .previous-next{
        display: contents;
    }

    .flex-previous-pokemon{
        text-align: center;
        width: 25%;
        align-items:flex-end;
        display: flex;
        flex-direction: column;
    }

    .flex-previous-next{
        width: 160px;
        border: 1px black solid;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: 0px 5px;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .previous-image{
        width: 150px;
        display: block;
        margin: auto;
    }

    .next-image{
        width: 100px;
        display: block;
        margin: auto;
    }

    .flex-pokemon-photo{
        width: 75px;
        margin: auto;
    }

    .flex-pokemon-name{
        font-family: "Flexo-Bold";
        font-size: 13px;
    }

    .flex-pokemon-prefix{
        font-family: "Flexo-Bold";
        color: #919191;
        font-size: 13px;
    }

    .pokemon-detail-main{
        width: 50%;
        margin: auto;
        margin-top: 0.3%;
        background-color: #FFFFFF;
        height: 73vh;
    }

    .pokemon-detail-submain-photo{
        width: 300px;
        height: 300px;
        background-color:rgba(240, 240, 240, 0.5);
        margin-right: 10px;
        border-radius: 10%;
    }

    .next-pokemon-flex{
        text-align: center;
        width: 25%;
        align-items:flex-start;
        display: flex;
        flex-direction: column;
    }     
}