*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Flexo";
}

.background-image{
    background: url("../img/back-list.jpg");
    overflow: hidden;
    background-size: contain;
    background-attachment:fixed;
}

body{
    height:max-content;
}

.new-pokemon-photo{
    width: 250px;
    display: block;
    margin: 10px auto;
}

.main-create-form{
    margin: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 5px;
}

.textarea-main{
    height: 80px;
}

.textarea{
    height: 150px;
}

.main-create-form-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.main-create-form-flex label{
    width: 150px;
    text-align: center;
}

.main-label{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.label-option{
    width: 58px;
    font-size: 9.5px;
    text-align: center;
}

.radio-option-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-create-typeA{
    margin-top: 15px;
}
.main-create-typeB{
    margin-top: 15px;
}
.main-create-typeC{
    margin-top: 15px;
}

.photo-create-poke{
    margin: 15px 0;
}

.photo-label{
    text-align: center;
    display: block;
}

.input-file{
    width: 100%;
    display: block; 
    position: relative;
    left: 50px;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (min-width: 1200px){

    .main-create-form{
        width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }

    .main-create-form-flex label{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-create-form-flex input{
        width: 300px;
    }

    .textarea-main, .textarea{
        width: 300px;
    }
    
    .label-option{
    width: 68px;
    font-size: 11px;
    }
}