*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-image{
    background: url("../img//back-list.jpg");
    overflow: hidden;
    background-size: contain;
    background-attachment:fixed;
}

.new-pokemon-photo{
    width: 250px;
    display: block;
    margin: 10px auto;
}

.pokemon-flex-direction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box-ash-kepchup{
    border: 1px black solid; 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0.9)
}

.poke-photo{
    width: 115px;
    height: 115px;
}

.poke-prefix{
    font-family: "Flexo-Bold",arial,sans-serif;
    color: #919191;
    font-size: 12px;
    padding-top: 2px;
}

.poke-name{
    font-size: 16px;
    margin-bottom: 3.5px;
    font-family: "Flexo-Demi",arial,sans-serif;
}

@media (min-width: 1200px){

    .poke-photo{
        width: 220px;
        height: 220px;
        transition: transform .2s ease-in-out;
    }

    .poke-photo:hover{
        transform: scale(1.5);
    }

    .box-ash-kepchup{
        border: 2px black solid; 
        margin: 3px 13px 15px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .poke-name{
        font-size: 18px;
    }

    .poke-prefix{
        font-size: 15px;
    }
}