
.FIRE {
    background-color: #ef803c;
    padding: 4px 5px;
    font-size: 8px;
}

.ELECTRIC {
    background-color: #f8cf43;
    padding: 4px 5px;
    font-size: 8px;
}

.WATER {
    background-color: #6a93ee;
    padding: 4px 5px;
    font-size: 8px;
}

.ICE {
    background-color: #9bd9d8;
    padding: 4px 5px;
    font-size: 8px;
}

.POISON {
    background-color: #a0449f;
    padding: 4px 5px;
    font-size: 8px;
}

.FAIRY {
    background-color: #4fb170;
    padding: 4px 5px;
    font-size: 8px;
}

.STEEL {
    background-color: #b9b9d0;
    padding: 4px 5px;
    font-size: 8px;
}

.DRAGON {
    background-color: #7043f5;
    padding: 4px 5px;
    font-size: 8px;
}

.GHOST {
    background-color: #705a97;
    padding: 4px 5px;
    font-size: 8px;
}

.ROCK {
    background-color: #b8a041;
    padding: 4px 5px;
    font-size: 8px;
}

.BUG {
    background-color: #a9b732;
    padding: 4px 5px;
    font-size: 8px;
}

.PSYCHIC {
    background-color: #f65b89;
    padding: 4px 5px;
    font-size: 8px;
}

.FLYING {
    background-color: #a893ee;
    padding: 4px 5px;
    font-size: 8px;
}

.GROUND {
    background-color: #e0c06e;
    padding: 4px 5px;
    font-size: 8px;
}

.FIGHTING {
    background-color: #bf322e;
    padding: 4px 5px;
    font-size: 8px;
}

.NORMAL {
    background-color: #a8a87b;
    padding: 4px 5px;
    font-size: 8px;
}

.GRASS{
    background-color: #7bc757;
    padding: 4px 5px;
    font-size: 8px;
} 

@media (min-width: 1200px){
    .FIRE, .ELECTRIC, .WATER, .ICE, .POISON, .FAIRY, .STEEL, .DRAGON, .GHOST, .ROCK, .BUG, .PSYCHIC, .FLYING, .GROUND, .FIGHTING, .NORMAL, .GRASS {
        font-size: 15px;
        padding: 2px 5px;
    }
}