.FIRE {background-color: #ef803c}
.ELECTRIC {background-color: #f8cf43}
.WATER {background-color: #6a93ee}
.ICE {background-color: #9bd9d8}
.POISON {background-color:#a0449f}
.FAIRY {background-color: #4fb170}
.STEEL {background-color: #b9b9d0}
.DRAGON {background-color: #7043f5}
.GHOST {background-color: #705a97}
.ROCK {background-color: #b8a041}
.BUG {background-color: #a9b732}
.PSYCHIC {background-color: #f65b89}
.FLYING {background-color: #a893ee}
.GROUND {background-color: #e0c06e}
.FIGHTING {background-color: #bf322e}
.NORMAL {background-color: #a8a87b}
.GRASS{background-color: #7bc757}
.SHADOW{background-color: #705849}

.poke-flex-typo span{
    padding: 4px 5px;
    font-size: 8px;
}

@media (min-width: 1200px){
    .poke-flex-typo span{
        font-size: 15px;
        padding: 2px 5px;
    }
}