<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pokeError.css">
    <title>error</title>
</head>
<body>
    <div class="flex-error">
        <img class="dance-pikachu" src="../img/dancepikachu.png">
        <p class="error404">ERROR 404</p> 
        <p class="pikachu">PIKACHU NOT FOUND</p>
        <p>Ash quiere que vuelvas al <a href="/">Home</p></a>
        <img class="pikachu-dance" src="../img/gameboy.gif">
    </div>
</body>
</html>