<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pokeListar.css">
    <title>Pokelistar</title>
</head>
    <body>

        <a href="/createPokemon" class="new-pokemon"><img class="new-pokemon-photo"src="img/New-Pokemon.png"></a>

        <div class="poke-flex"> 
            <% for (let i=0 ; i<pokemon.length ; i++) { %>
                <div class="ash">
                    <a href="/editar/<%=pokemon[i].id%>"><img class="poke-photo" src="/<%= pokemon[i].img%>"></a>
                    <span class="poke-prefix"> #<%= pokemon[i].prefix %> </span>
                    <span class="poke-name"> <%= pokemon[i].name %> </span>
                </div>
            <% } %>
                        
        </div>
    </body>
</html>